<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div ng-controller="BlogController as bd">
BLOG_TITLE:{{currentBlog.blog_title}}
DESCRIPTION:{{currentBlog.description}}
BLOG_DATE:{{currentBlog.blog_Datetime}}
WRITTEN BY:{{currentBlog.user_id}}



<form method="post" name="myForm" ng-submit="bd.submit1(currentBlog.blog_id,bd.blogComment.bcomment)">
 <label><b>COMMENT</b></label>
    <input type="text" ng-model="bd.blogComment.bcomment" placeholder="Enter comment" name="comment" required> 
    <button   type="submit">POST COMMENT</button>
    </br></br></br>
    </form>
    
    <button ng-click="ctrl.fetchAllBlogComments(currentBlog.blog_id)"  type="submit">POST COMMENT</button>
    
  
    <li>coment</li>
   
    <div ng-repeat="bc in bd.blogComments">
    <li>Comment:{{bc.bcomment}}</li>
    </div>
    
    </div>
</body>
</html>